*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, serif;
    color: #484a5a;
    font-size: 3vw;
}

#main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 3vw;
    min-height: 95vh;
    font-size: 3vw;
}


h1 {
    color: #484a5a;
    text-align: center;
    font-size: 5vw;
}

.button {
    width: 20vw;

}

#qa-box {
    display: none;
    flex-direction: column;
    margin-bottom: 2vw;
    align-items: center;
}

#question-box {
    border: #5cbd4b dashed 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    border-radius: 10%;
}

.generate-qa-headers {
    margin-bottom: 0;
    margin-top: 1vw;
    font-size: 3.2vw;
}

#question-p {
    font-weight: bold;
    margin: 0;
    padding: 1vw;

    color: #33285e;
}

#db-answer {
    display: none;
    margin-top: 1vw;
    font-weight: bold;
    padding: 1vw;
    border: #ccbd19 solid 0.5vw;
    color: #be1ce1;
    text-align: center;
    border-radius: 10%;
}

#submit-box {
    display: none;
    flex-direction: column;
    margin: 0 20vw;
    align-items: center;
}

.txtarea {
    margin: 1vw 0
}

#submit-alert {
    display: none;
    background-color: #e8aaaa;
    margin: 1vw 0;
    padding: 1vw;
}

#generate-alert {
    display: none;
    background-color: #e8aaaa;
    margin: 1vw 1vw;
    padding: 1vw;
    width: 30vw;
}

#show-hide-generate {
    display: none;
    margin: 1vw;
}

#show-hide-submit {
    margin-bottom: 1vw;
}

footer {
    padding: 2vw;
    color: white;
    background-color: #484a5a;
    width: 100vw;
    text-align: end;
}

@media screen and (min-width: 700px) {
    body {
            font-size: 1.5vw;
    }

    h1 {
        font-size: 4vw;
    }

}