*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    color: teal;
}

#qa-box {
    display: none;
    flex-direction: column;
    margin: 0 20vw
}

#question-p {
    font-weight: bold;
    border: darkorange solid 1px;
    padding: 0.8vw 0.2vw

}

#db-answer {
    display: none;
    margin-top: 1vw;
    font-weight: bold;
    padding: 1vw;
    border: cornflowerblue solid 1px;
}

#submit-box {
    display: flex;
    flex-direction: column;
    margin: 0 20vw
}

.txtarea {
    margin: 1vw 0
}

#submit-alert {
    display: none;
    background-color: #e8aaaa;
    margin: 1vw 0
}

#generate-alert {
    display: none;
    background-color: #e8aaaa;
    margin: 1vw 1vw;
    padding: 1vw;
    width: 30vw;
}